nodered_flow/trigger_event_to_ialarm.json
[{"id":"c1606345.a17a1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"226fe00.2b9772","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8da92c39.05a9b","type":"inject","z":"c1606345.a17a1","name":"temp high to iAlarm","topic":"/iAlarm/OPCUAClient/Request","payload":"{\"Command\":\"trigger\",\"SessionID\":\"f57c772412f18bbe4acb22cc5dc145d7\",\"Params\":{\"name\":\"OPCUAClient\",\"type\":\"THRESHOLD_CHECK_ERROR\",\"msg\":\"temperature is too high\",\"severity\":3}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":120,"wires":[["db235601.bad118"]]},{"id":"490e6078.89e31","type":"inject","z":"c1606345.a17a1","name":"temp low to iAlarm","topic":"/iAlarm/OPCUAClient/Request","payload":"{\"Command\":\"trigger\",\"SessionID\":\"f57c772412f18bbe4acb22cc5dc145d7\",\"Params\":{\"name\":\"OPCUAClient\",\"type\":\"THRESHOLD_CHECK_ERROR\",\"msg\":\"temperature is too low\",\"severity\":4}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":200,"wires":[["db235601.bad118"]]},{"id":"db235601.bad118","type":"mqtt out","z":"c1606345.a17a1","name":"local mqtt","topic":"","qos":"","retain":"","broker":"226fe00.2b9772","x":480,"y":160,"wires":[]},{"id":"5da599aa.fa2688","type":"mqtt in","z":"c1606345.a17a1","name":"","topic":"/iAlarm/#","qos":"2","datatype":"auto","broker":"226fe00.2b9772","x":200,"y":380,"wires":[["48ff604c.f2933"]]},{"id":"48ff604c.f2933","type":"debug","z":"c1606345.a17a1","name":"monitor iAlarm topic","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":380,"wires":[]}]